# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.dll
*.pdb
*.cache
*.log
*.csproj.user

# ASP.NET-specific
App_Data/
*.dbmdl
*.bak
*.ldf
*.mdf

# VS Web Server
*.vspscc
*.vssscc

# Temporary files
*.tmp
*.temp
*.swp

# Rider IDE (si usas JetBrains)
.idea/

# Node modules (si usas frontend moderno)
node_modules/
